<?xml version="1.0" encoding="UTF-8"?>
<!-- DTD -->

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="boardSQL">
	<insert id="boardWrite" parameterType="java.util.Map"> 
	<!-- parameterType 데이터를 받아온다 -->
	<!-- insert into board(출력하고 싶은 항목) values(가져올 데이터 컬럼) -->
		insert into board(seq, id, name, email, subject, content, ref) values(seq_board.nextval
																				 ,#{id}
																				, #{name}
																				, #{email}
																				, #{subject}
																				, #{content}
																				, seq_board.nextval	)		
	</insert>
	
	<select id="boardList" resultType="board">
	select * from (select rownum rn, tt.*from(select seq, subject, id, logtime, hit from board  order by seq desc)tt) 
					where rn between #{startNum} and #{endNum}
					
	<!-- 
	<![CDATA[
	select * from 
	(select rownum rn, tt.*from
	(select seq, subject, id, logtime, hit from board)tt) 
	where rn >= #{startNum} and <= #{endNum} 
	
	]]> 
	-->
	</select>
	

	<select id="getTotalA" resultType="Integer">
	select count (*) from board 
	</select>
	
	<select id="getBoard" parameterType="int" resultType="board">
		select * from board where seq=#{seq}
	</select>
	
	<update id="setHit" parameterType="int" >
		update board set hit=hit+1 where seq=#{seq}
	</update>
	
	<delete id="boardDelete" parameterType="int" >
		delete board where seq=#{seq}
	</delete>

	<update id="boardUpdate" parameterType="java.util.Map" >
		update board set subject=#{subject}
						, content=#{content}
						, logtime=sysdate where seq=#{seq}
	</update>
	
</mapper>


<!-- seq, subject, Id Logtime, Hit -->