<?xml version="1.0" encoding="UTF-8"?>
<!-- DTD -->

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="boardSQL">
	<insert id="boardWrite" parameterType="board"> 
	<!-- parameterType 데이터를 받아온다 -->
		insert into board(seq, id, name, email, subject, content, ref) values(seq_board.nextval
																				 ,#{id}
																				, #{name}
																				, #{email}
																				, #{subject}
																				, #{content}
																				, seq_board.nextval		
																				)		
	</insert>


</mapper>
